<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">
    <div class="form-group">
        <label for="Airline">Airline:</label>
        <input type="text" id="Airline" name="Airline" placeholder="Airline">
    </div>

    <div class="form-group">
        <label for="Source">Source:</label>
        <input type="text" id="Source" name="Source" placeholder="Source">
    </div>

    <div class="form-group">  
        <label for="Destination">Destination:</label>
        <input type="text" id="Destination" name="Destination" placeholder="Destination">
    </div>
    
    <div class="form-group">
        <label for="Total_Stops">Total_Stops:</label>
        <input type="text" id="Total_Stops" name="x" placeholder="Total_Stops">
    </div>
  
    <div class="form-group">
        <label for="Additional_Info">Additional_Info:</label>
        <input type="text" id="Additional_Info" name="Additional_Info" placeholder="Additional_Info">
    </div>
  
    <div class="form-group">
        <label for="Day">Day:</label>
        <input type="text" id="Day" name="Day" placeholder="Day">
    </div>         
  
    
    <div class="form-group">
        <label for="Month">Month:</label>
        <input type="text" id="Month" name="Month" placeholder="Month">
    </div> 

    
    <div class="form-group">
        <label for="Year">Year:</label>
        <input type="text" id="Year" name="Year" placeholder="Year">
    </div> 

    
    <div class="form-group">
        <label for="Dept_Hour">Dept_Hour:</label>
        <input type="text" id="Dept_Hour" name="Dept_Hour" placeholder="Dept_Hour">
    </div> 

    <div class="form-group">
        <label for="Dept_Min">Dept_Min:</label>
        <input type="text" id="Dept_Min" name="Dept_Min" placeholder="Dept_Min">
    </div> 


    <div class="form-group">
        <label for="Arrival_hour">Arrival_hour:</label>
        <input type="text" id="Arrival_hour" name="Arrival_hour" placeholder="Arrival_hour">
    </div> 



    <div class="form-group">
        <label for="Arrival_min">Arrival_min:</label>
        <input type="text" id="Arrival_min" name="Arrival_min" placeholder="Arrival_min">
    </div> 



    <div class="form-group">
        <label for="duration_hour">duration_hour:</label>
        <input type="text" id="duration_hour" name="duration_hour" placeholder="duration_hour">
    </div> 


    <div class="form-group">
        <label for="duration_min">duration_min:</label>
        <input type="text" id="duration_min" name="duration_min" placeholder="duration_min">
    </div> 



<div class="form-group">
  <label for="Airline">Airline:</label>
  <select id="Airline" name="Airline">
    <option value="IndiGo">IndiGo</option>
    <option value="Air India">Air India</option>
    <option value="Jet Airways">Jet Airways</option>
    <option value="SpiceJet">SpiceJet</option>
    <option value="Multiple carriers">Multiple carriers</option>
    <option value="GoAir">GoAir</option>
    <option value="Vistara">Vistara</option>
    <option value="Air Asiat">Air Asia</option>
    <option value="Vistara Premium economy">Vistara Premium economy</option>
    <option value="Jet Airways Business">Jet Airways Business</option>
    <option value="Multiple carriers Premium economy">Multiple carriers Premium economy</option>
    <option value="Trujet">Trujet</option>
  </select>
</div>
  
<div class="form-group">
  <label for="Source">Source:</label>
  <select id="Source" name="Source">
    <option value="Banglore">Banglore</option>
    <option value="Kolkata">Kolkata</option>
    <option value="Delhi">Delhi</option>
    <option value="Chennai">Chennai</option>
    <option value="Mumbai">Mumbai</option>
  </select>
</div>

<div class="form-group">
  <label for="Destination">Destination:</label>
  <select id="Destination" name="Destination">
    <option value="New Delhi">New Delhi</option>
    <option value="Banglore">Banglore</option>
    <option value="Cochin">Cochin</option>
    <option value="Kolkata">Kolkata</option>
    <option value="Delhi">Delhi</option>
    <option value="Hyderabad">Hyderabad</option>
  </select>
</div>

<div class="form-group">
    <label for="Additional_Info">Additional_Info:</label>
    <select id="Additional_Info" name="Additional_Info">
      <option value="No info">No info</option>
      <option value="In-flight meal not included">In-flight meal not included</option>
      <option value="No check-in baggage included">No check-in baggage included</option>
      <option value="1 Short layover">1 Short layover</option>
      <option value="No Info">No Info</option>
      <option value="1 Long layover">1 Long layover</option>
      <option value="Change airports">Change airports</option>
      <option value="Business class">Business class</option>
      <option value="Red-eye flight">Red-eye flight</option>
      <option value="2 Long layover">2 Long layover</option>
    </select>
  </div>



<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>
</body>
</html>